footer {
  background-color: #61172f;
  color: #fff;
  height: auto;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

.content-footer {
  display: flex;
  background-color: #61172f;
  color: #fff;
  width: 100%;
  height: auto;
  padding: 20px;
  align-items: center;
  justify-content: space-around;
}

.footer-img img {
  display: flex;
  width: 240px;
  border-radius: 20px;
}

.footer-Uc {
  border-left: 2px solid #fff;
  padding: 10px;
  width: 10rem;
}

.footer-about-me {
  width: 200px;
}

.footer-contact {
  width: 240px;
  height: auto;
}
.footer-contact ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin-top: 10px;
}
.footer-contact ul li {
  display: inline-flex;
  list-style: none;
}
.footer-contact ul li a {
  color: #fff;
}
.footer-contact a .icon {
  width: 25px;
  height: 25px;
}
.footer-contact a .icon:active {
  position: relative;
  top: 2px;
}

.direitos-autorais {
  display: flex;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  justify-content: center;
}
